if [ -f ".python-version" ]; then
  py_ver=$(head .python-version)
fi

use python ${py_ver}

if [ -f ".python-virtualenv" ]; then
  py_venv=$(head .python-virtualenv)
  venv_name="${py_venv}-${py_ver}"
  count=$(pyenv virtualenvs | grep "$venv_name" | wc -l | tr -d ' ')
  if [ "$count" == 0 ]; then
    layout virtualenv ${py_ver} ${py_venv}
    layout activate ${py_venv}
  else
    layout activate ${py_venv}
  fi
fi

export AIRFLOW_GPL_UNIDECODE=yes
export AIRFLOW_HOME=`pwd`
export AIRFLOW_EXECUTOR=SequentialExecutor
export AIRFLOW_DATABASE_URL=sqlite:///$AIRFLOW_HOME/airflow.db
export AIRFLOW_RESULT_BACKEND=db+sqlite:///$AIRFLOW_HOME/airflow.db
export AIRFLOW_API_AUTH=your-top-secret
