#!/bin/bash

use_python() {
  if [ -n "$(which pyenv)" ]; then
    local pyversion=$1
    pyenv local ${pyversion}
  fi
}

layout_virtualenv() {
  local pyversion=$1
  local pvenv=$2
  if [ -n "$(which pyenv-virtualenv)" ]; then
    pyenv virtualenv --force --quiet ${pyversion} ${pvenv}-${pyversion}
  fi
}

layout_activate() {
  if [ -n "$(which pyenv)" ]; then
    local pyenvprefix=$(pyenv prefix)
    local pyversion=$(pyenv version-name)
    local pvenv="$1"
    source ${pyenvprefix}/envs/${pvenv}-${pyversion}/bin/activate
  fi
}

if [ -f ".python-version" ]; then
  py_ver=$(head .python-version)
  use python ${py_ver}
fi


if [ -f ".python-virtualenv" ]; then
  py_venv=$(head .python-virtualenv)
  venv_name="${py_venv}-${py_ver}"
  count=$(pyenv virtualenvs | grep "$venv_name" | wc -l | tr -d ' ')
  if [ "$count" == 0 ]; then
    layout virtualenv ${py_ver} ${py_venv}
    layout activate ${py_venv}
  else
    layout activate ${py_venv}
  fi
fi

export AIRFLOW_GPL_UNIDECODE=yes
export AIRFLOW_HOME=`pwd`
export AIRFLOW_EXECUTOR=SequentialExecutor
export AIRFLOW_DATABASE_URL=sqlite:///$AIRFLOW_HOME/airflow.db
export AIRFLOW_RESULT_BACKEND=db+sqlite:///$AIRFLOW_HOME/airflow.db
export AIRFLOW_API_AUTH=your-top-secret
